absl-py==0.9.0
appnope==0.1.0
astor==0.8.1
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.1
blinker==1.4
boto3==1.11.9
botocore==1.14.9
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.1
future==0.18.2
gast==0.2.2
google-pasta==0.1.8
grpcio==1.26.0
h5py==2.10.0
idna==2.8
importlib-metadata==1.4.0
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.0
jmespath==0.9.4
joblib==0.14.1
jsonschema==3.2.0
kiwisolver==1.1.0
lxml==4.4.2
Markdown==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
pandocfilters==1.4.2
parso==0.6.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.7.1
protobuf==3.11.2
ptyprocess==0.6.0
pydeck==0.2.1
Pygments==2.5.2
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.8.0
pytz==2019.3
pyzmq==18.1.1
regex==2020.1.8
requests==2.22.0
s3transfer==0.3.2
sacremoses==0.0.38
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
soupsieve==1.9.5
streamlit==0.53.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.0
toolz==0.10.0
typing
altair==4.0.1
base58==2.0.0
ipykernel==5.1.4
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
matplotlib==3.1.2
nbformat==5.0.4
notebook==6.0.3
numpy==1.18.1
opt-einsum==3.1.0
pandas==0.25.3
Pillow==7.0.0
prompt-toolkit==3.0.3
scikit-learn==0.22.1
scipy==1.4.1
zipp==2.1.0
tornado==5.1.1
tqdm==4.42.0
traitlets==4.3.3
transformers==2.3.0
tzlocal==2.0.0
urllib3==1.25.8
validators==0.14.2
watchdog==0.10.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
sentencepiece==0.1.83
